body {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
}

html {
  font-family: 'roboto', arial, helvetica, sans-serif;
}

header {
  background-color: white;
}
.menu-items ul li {
  display: list-item;
  padding: 5px 10px;
  margin: 0 3px;

}

.menu-items a {
  font: inherit;
  color: #333;
  font-size: 12px;
  letter-spacing: 1px;
}

.menu-items a:hover {
  color: black;
}


.site-title-container {
  margin-top: 20px;
  padding-left: 65px;

}

.site-title-container a {
  color: #5C5C5C;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu-items ul {

  list-style-type: none;
  display: flex;
  font: roboto-sans-serif;
}

.menu-items {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.banner {
  width: 100%;
  border-bottom: 0.5px solid #eee;
  background-color: rgb(255, 255, 255);
}





.list-items {
  display: inline-block;
  
  padding-right: 5px;

}

.footer-banner {
  display: absolute;
  bottom: 0;
  padding: 80px 0px 80px 0px;
  background-color: #343434;
  max-height: 329px;
}






#footer-img-2 {
  width: 463px;
  height: 95px;
  margin-right: 50px;
  float: right;
}

#footer-img-1 {
  margin-left: 50px;
  width: 384px;
  height: 131px;
  float: left;
}

.footer-text,
.footer-mail {
  color: white;
}

.footer-text {
  position: relative;
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  padding-right: 500px;
  max-width: 100%;
}

.footer-text a {
  text-decoration: none;
  color: white;
}

.footer-mail {
  text-align: center;
  margin-top: 120px;
  padding-right: 60px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button-items img {
  height: 46px;
  width: 46px;
  margin: 0 10px;
  /* Adjusted the margin values */
}

.button-items {
  display: flex;
  align-items: center;
}

.title-main {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  /* Center the items vertically */
  padding-bottom: 20px;
  padding-top: 20px;

}

.title-main h1 {
  padding-left: 30%;
  color: #5C5C5C;
}

.main-container {
  height: auto;
  margin: 0 10%;
}

.main-container .img-back {
  display: block;
  height: 90%;
  width: 100%;
  background-color: #c3c3c3;
  border-radius: 30PX;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33.75%;
  max-width: 32.75%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 30PX;

}

.img-back img:hover {
  opacity: 0.70;
}

.all-download {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #d9d9d9;
}


.modal {
  font-family: 'roboto';
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 10px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30em;
  text-align: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #888;
  font-size: 24px;
  cursor: pointer;
}

.modal button {

  background-color: #c3c3c3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}


.modal-content button {
  margin: 10px;
}

#downloadButton {
  background-color: white;
  border: none;
  color: #333333;
  border-radius: 15px 0px 0px 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.downloadButton-container .all-download {
  display: flex;
  float: right;
  margin-top: 80px;
}

.all-download {
  width: 220px;
  height: 60px;
  box-shadow: -17px 15px 17px -3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}


.all-download #downloadImg {
  border-radius: 0px 15px 15px 0px;
  float: right;
  width: 60px;
  height: 100%;
}

.all-download #downloadButton {
  height: auto;
  width: 160px;
}

.downloadButton-container {
  height: 250px;
}

#downloadButton:hover {
  background-color: #F1F1F1;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#back-to-top:hover {
  background-color: #555;
}

#see-more {
  box-shadow: -17px 15px 17px -3px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 15px 32px;
  width: 25%;
  align-items: center;
  text-align: center;
  margin: 30px auto 30px auto;
  text-decoration: none;
  font-size: 16px;
}

#see-more:hover {
  background-color: #F1F1F1;
}

#img-back-all {
  padding-bottom: 10px;
}


@media screen and (max-width: 1720px) and (orientation: landscape) {
  .column {
    flex: 32.65%;
    max-width: 32.65%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 30PX;

  }

}

@media screen and (max-width: 1372px) and (orientation: landscape) {
  .column {
    flex: 32.5%;
    max-width: 32.5%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 30PX;

  }

  .title-main h1 {
    padding-left: 10%;
  }
}



@media screen and (max-width: 855px) and (orientation: portrait) {
  .footer-banner {
    display: flex;
    flex-direction: column; /* Aligner les éléments en colonne */
    align-items: center; /* Centrer horizontalement les éléments */
    text-align: center; /* Centrer le texte à l'intérieur */
    padding: 15px 0;
    max-height: none;
    height: auto;
    margin: 0;
  }
  
  .footer-text {
    width: 100%;
    left: 0;
    max-height: 20px;
    padding-top: 10px;
  }
  
  .footer-items {
    width: 100%;
    text-align: center; 
    margin-top: 10px;

  }
  
  #footer-img-1 {
    max-width: 82%; 
    margin-left: 2em;
    margin-bottom: 10px;


  }
  
  .footer-mail {
    width: 100%;
    text-align: center; 
    max-height: 20px;
  }
  
  #footer-img-2 {
    max-width: 100%; 
    margin-right: 0;
    height: auto;
    width: 95%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    margin-top: 10px;
  }

 
  .site-title-container {
    margin: 0px;
    padding: 0px;
  }
  .title-main h1 {
    margin: auto;
    padding-left: 0;
    font-size: 18px;
  }
  .menu-items {
    display: block;
  }

  

  .site-title-container {
    padding-top: 10px;
    padding-left: 10px;
  }

  .main-container {
    margin-right: 1%;
    margin-left: 1%;
  }

  nav::before {
    border: solid 1px rgba(136,136,136,.3);
    content: "☰";
    display: flex;
    width: auto;
    height: auto;
    float: right;
    text-align: center;
    font-family: 'roboto';
    margin: 10px;
    padding: 3px 10px 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  nav:hover::before {
    background-color: #DDDDDD;
  }

  #menu-header-menu {
    padding-left: 10px;
  }
  #menu-header-menu a {
    font-size: 12px;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #333333;
  }

  nav:hover .menu-items ul{
    display: block;
  }

  .menu-items ul{
    display: none;
    float: left;
    display: none;

  }

  .menu-items ul li {
    width: 100%;
    padding: 10px 8px;
  }
  
  .column {
    flex: 100%;
    max-width: 100%;

  }

  .button-items {
    display: none;
  }
  .downloadButton-container .all-download {
    display: none;
  }

  .downloadButton-container {
    height: 50px;
  }

  .footer-text, .footer-mail {
    padding-right: 0px;
    margin-top: 0px;
    max-width: 100%;
    height: auto;
  }

  
}